/* Layout */

.wrapper {
    display: flex;
    flex-direction: row;

    .sidebar {
        width: $sidebar-lg-width;
        height: 100%;
        position: fixed;
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 999;
        transition: width $transition-speed $transition-fn;
    }

    .page {
        min-height: 100vh;
        width: calc(100% - #{$sidebar-lg-width});
        margin-left: $sidebar-lg-width;
    }
}

/* Medium to large screens */
@media (min-width: 992px) {
    body.sidebar-md .wrapper {
        .sidebar {
            width: $sidebar-md-width;
            transition: width $transition-speed $transition-fn;
        }

        .page {
            width: calc(100% - #{$sidebar-md-width});
            margin-left: $sidebar-md-width;
        }
    }

    body.sidebar-md-stretch .wrapper .sidebar {
        // z-index: 999;
        width: $sidebar-lg-width;
        // box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
        transition: width $transition-speed $transition-fn;
    }
}

/* Small devices (landscape phones) */
@media (max-width: 991.98px) {
    .wrapper {
        .sidebar {
            // z-index: 999;
            width: $sidebar-lg-width;

            opacity: 0;
            visibility: hidden;
            transition: visibility 0.2s linear 300ms, opacity 300ms;
        }

        .page {
            width: 100%;
            margin-left: 0;
        }
    }

    body.sidebar-sm .wrapper {
        .sidebar {
            opacity: 1;
            visibility: visible;
            transition: visibility 0s linear 0s, opacity 300ms;
        }

        .page {
            background: $gray-300;
        }
    }
}

/* ========================= Extras ========================= */

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .header {
        height: $topbar-height;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu-right {
            margin-left: auto;
        }
    }

    .content {
        flex-grow: 1;
    }
}

.sidebar {
    nav.menu {
        height: calc(100vh - #{$sidebar-brand-height});
        display: flex;
        flex-direction: column;

        ul.top {
            flex-grow: 1;
        }
    }
}
