.nav-link {
    padding: 0;
}

.sidebar nav > ul {
    padding: 20px;
}

.sidebar nav > ul > li {

}

.sidebar nav > ul > li > a.nav-link {
    color: gray;
    display: flex;
    align-items: center;
    padding: 0;
    height: 32px;
    white-space: nowrap;
}

.sidebar ul.sub-menu  > li > a.nav-link {
    color: gray;
}

.sidebar nav > ul > li > a > i.bx {
    width: 16px;
    height: 16px;
}

.sidebar nav > ul > li > a > i.link-arrow {
    width: 14px;
    height: 14px;
    margin-left: auto;
}

.sidebar nav > ul > li > a span.nav-text {
    font-size: 16px;
    margin-left: 16px;
}

.sidebar ul.sub-menu > li > a span.nav-text {
    font-size: 14px;
    margin-left: 16px;
}

/* Medium to large screens */
@media (min-width: 992px) {
    .sidebar-md:not(.sidebar-md-stretch) .sidebar nav > ul > li > a span.nav-text {
        visibility: hidden;
        opacity: 0;
    }

    .sidebar-md:not(.sidebar-md-stretch) .sidebar nav > ul > li.nav-category {
        visibility: hidden;
    }

    .sidebar-md:not(.sidebar-md-stretch) .sidebar nav > ul > li.nav-category::before {
        content: ' ';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #9b9b9b;
        position: absolute;
        top: 8px;
        left: 6px;
        visibility: visible;
    }

    .sidebar-md:not(.sidebar-md-stretch) .sidebar ul.sub-menu {
        visibility: hidden;
        opacity: 0;
    }
}
