.navbar-brand {
    padding: 0 20px 0 20px;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-brand span.nav-text {
    margin-left: 16px;
}

/* Medium to large screens */
@media (min-width: 992px) {
    .sidebar-md:not(.sidebar-md-stretch) .sidebar a.navbar-brand span.nav-text {
        visibility: hidden;
        opacity: 0;
    }
}

// ..............................................

.nav-link {
    padding: 0;
}

.sidebar nav > ul {
    padding: 20px;
}

.sidebar nav > ul > li > a.nav-link {
    color: gray;
    display: flex;
    align-items: center;
    padding: 0;
    height: 32px;
    white-space: nowrap;
}

.sidebar nav > ul > li.active a.nav-link {
    color: #727cf5;
}

.sidebar nav > ul > li.active a.nav-link::before {
    content: '';
    width: 3px;
    height: 26px;
    background: #727cf5;
    position: absolute;
    left: -20px;
}

.sidebar ul.sub-menu {
    margin-left: 30px;
}

.sidebar ul.sub-menu .nav-item .nav-link {
    height: 25px;
    color: #000;
    font-size: 13px;
    transition: all .3s ease-in-out;
}

.sidebar ul.sub-menu .nav-item.active .nav-link {
    color: #727cf5;
}

.sidebar ul.sub-menu  > li > a.nav-link.active::before {
    border: 1px solid #727cf5;
    background: #727cf5;
}

.sidebar ul.sub-menu  > li > a.nav-link::before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #a9b4ca;
    position: absolute;
    left: -25px;
    top: 7px;
    transition: all .4s ease-in-out;
}

.sidebar nav > ul > li > a > i.bx {
    width: 16px;
    height: 16px;
}

.sidebar nav > ul > li > a > i.link-arrow {
    width: 14px;
    height: 14px;
    margin-left: auto;
}

.sidebar nav > ul > li > a span.nav-text {
    font-size: 16px;
    margin-left: 16px;
}

// .sidebar ul.sub-menu > li > a span.nav-text {
//     font-size: 14px;
//     margin-left: 16px;
// }

.sidebar nav > ul > li.nav-category {
    color: #686868;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    height: 15px;
}

.sidebar nav > ul > li.nav-category:not(:first-child) {
    margin-top: 20px;
}

/* Medium to large screens */
@media (min-width: 992px) {
    .sidebar-md:not(.sidebar-md-stretch) .sidebar nav > ul > li > a span.nav-text {
        visibility: hidden;
        opacity: 0;
    }

    .sidebar-md:not(.sidebar-md-stretch) .sidebar nav > ul > li.nav-category {
        visibility: hidden;
    }

    .sidebar-md:not(.sidebar-md-stretch) .sidebar nav > ul > li.nav-category::before {
        content: ' ';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #9b9b9b;
        position: absolute;
        top: 8px;
        left: 6px;
        visibility: visible;
    }

    .sidebar-md:not(.sidebar-md-stretch) .sidebar ul.sub-menu {
        visibility: hidden;
        opacity: 0;
    }
}
