// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900');

body {
    font-family: "Nunito", sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.5;

    color: $body-color;
    background-color: $body-bg;

    text-align: left;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
