// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700');

body {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: $line-height-base;

    color: $body-color;
    background-color: $body-bg;

    text-align: left;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
